root{
  position: relative;
}

.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.marginTop {
  margin-top: 20px;
}
